<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Imagem</title>
</head>
<body>
    <input type="file" id="fileInput">
    <button onclick="enviarImagem()">Enviar</button>

    <button onclick="processarImagem()">Processar</button>

    <div>
        <h2 id="title">Previsões</h2>
        <p id="p1"></p>
        <p id="p2"></p>
        <p id="p3"></p>
        <p id="p4"></p>
        <p id="p5"></p>

    </div>

    <script src="/static/scripts.js"></script>
</body>
</html>
